@mixin oSubsCard {
	@include oTypographySans(0);
	@include oColorsFor('o-subs-card-copy-details', 'background');
	@include oTypographyMargin($top: 3, $bottom: 3);

	text-align: center;
	align-items: stretch;
	width: 100%;

	@include oGridRespondTo(L) {
		height: 100%;
	}

	.o-subs-card__top {
		@include oColorsFor(o-subs-card-top);
	}

	.o-subs-card__copy-offer {
		@include oTypographySans(2);
		@include oTypographyPadding($top: 2);
	}

	.o-subs-card__copy-title {
		@include oTypographySansBold(3);
		@include oTypographyMargin($bottom: 6);

		&:first-child {
			@include oTypographyPadding($top: 6);
		}
	}

	.o-subs-card__copy-pitch {
		@include oColorsFor(o-subs-card-copy-pitch, background text, 80);
		@include oTypographySans(0);
		display: inline-block;
		width: calc(100% - 28px);
		text-align: center;
		padding: 14px;
	}

	// Mobile first
	.o-subs-card__copy-image {
		display: none;
	}

	// Tablet
	@include oGridRespondTo(M) {
		.o-subs-card__copy-image {
			display: block;
			margin: auto;
		}
	}

	.o-subs-card__charge {
		@include oTypographyPadding($top: 2, $bottom: 2);
		@include oTypographyMargin($top: 2);
	}

	.o-subs-card__charge__value {
		@include oTypographyMargin($top: 1);
	}

	.o-subs-card__select-button {
		@include oButtons('big');
		@include oButtonsCustomTheme(oColorsGetUseCase(o-subs-card-top-button, background), "white");
		@include oTypographyMargin($top: 3);
		width: calc(100% - 24px);
	}

	.o-subs-card__copy-details {
		@include oExpanderContent();
		@include oColorsFor(o-subs-card-copy-details, background text, 80);
		text-align: left;

		@include oGridRespondTo(L) {
			&[aria-hidden='true'] {
				display: block;
			}
		};
	}

	.o-subs-card__copy-benefits {
		padding: 0 20px;
		margin: 0;
		list-style: none;

		li {
			@include oTypographyPadding($bottom: 3);
		}
	}

	.o-subs-card__read-more {
		@include oColorsFor(o-subs-card-read-more, background text, 80);
		@include oTypographySansBold(-1);
		@include oTypographyPadding($top: 2, $bottom: 2);
		cursor: pointer;

		border-width: 0;
		display: block;
		width: 100%;

		@include oGridRespondTo(L) {
			display: none;
		}

		//doesn't use oExpanderToggle mixin, because that mixin has a fixed font-size/icon size
		&:after {
			@include oIconsGetIcon('arrow-down', oColorsGetPaletteColor(oColorsGetUseCase(o-subs-card-read-more, text)), 16);
			content: '';
			position: relative;
			vertical-align: middle;
		}

		&[aria-expanded='true']:after {
			transform: rotate(180deg);
		}

		.core & {
			display: none;
		}
	}
}
